# top-most EditorConfig file
root = true

# Matches multiple files with wildcard (*)
[*]
# Indentation style: space or tab
indent_style = space
# Number of spaces per indentation level
indent_size = 4
# Makes sure the file ends with a newline
insert_final_newline = true
# Trim trailing whitespace
trim_trailing_whitespace = true
